:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";

  --weight-title: 715;
  --weight-text: 410;

  --border-default: 2px solid #000;
  --block-width: clamp(23.4375rem, 0rem + 100vw, 43.75rem);

  --width-img: clamp(23.1875rem, -0.25rem + 100vw, 43.5rem);
  --height-img: clamp(23.1875rem, -0.25rem + 100vw, 43.5rem);

  --padding-text-block: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --padding-text-inline: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);

  --size-h2: 18px;

  --color-bg: #fff;
  --color-border: #000;
  --color-shadow: #fff;
  --color-hover: #000;
  --color-focus: #000;
  --color-text: #fff;

  --color-contour: black;
  --animation-fill-color: red;
  --color-sparks: #ff0000;
}
